#instrumentSearch label {
  display: block;
  margin: 5px 0;
}

#instrumentSearch input {
  border-radius: 5px;
  margin: 4px;
  height: 27px;
}

#instrumentSearch code {
  padding: .2em .5em;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

#instrumentSearch .menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
}

#instrumentSearch {
  margin-bottom:2px;
  position: relative;
  z-index: 1;
}
